@model IEnumerable<Patient>
@{
    <html>

    <head>
        <title>Index</title>
    </head>

    <body>
        <h1 class="centrer">Gestions des patient</h1>

        <input type="text" id="EntreeRecherche" placeholder="Rechercher... ">

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Nom - Prénom</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Details</th>
                    <th scope="col"> Retirer un profil</th>
                    <th scope="col"> Modifier un profil </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model)
                {
                    <tr class="element">
                        <td></td>
                        <td scope="row" class="text_search">@patient.Nom_p - @patient.Prenom_p</td>
                        <td scope="row">@patient.Sexe_p</td>
                        <td scope="row"><a asp-controller="Patient" asp-action="ShowDetails"
                                asp-route-id="@patient.PatientId">Détail</a></td>
                        <td scope="row"><a asp-controller="Patient" asp-action="Remove" asp-route-id="@patient.PatientId">
                                Retirer</a> </td>
                        <td scope="row"><a asp-controller="Patient" asp-action="Edit" asp-route-id="@patient.PatientId">
                                Modifier</a> </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            <button type="button" class="btn btn-light">
                <a asp-controller="Patient" asp-action="Add"> Ajouter un patient </a>
            </button>
        </div>
        <script>
            document.getElementById('EntreeRecherche').addEventListener('keyup', function () {

                var texteRecherche = this.value.toLowerCase();
                var Element = document.querySelectorAll('.element');

                Element.forEach(function (card) {
                    var nomPatient = card.querySelector('.text_search').textContent.toLowerCase(); //case a rechercher
                    if (nomPatient.includes(texteRecherche)) {
                        card.style.display = '';
                    } else {
                        card.style.display = 'none';
                    }
                });
            });

        </script>
    </body>



    </html>


}
